.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: normal;
  border-radius: 5px;
  transition: all 0.3s ease-in;

  &:first-of-type {
    margin-left: 0;
  }

  &.success {
    background-color: #5c9210;
    &:hover {
      background-color: darken(#5c9210, 10%);
    }
  }

  &.danger {
    background-color: #b61616;
    &:hover {
      background-color: lighten(#b61616, 15%);
    }
  }
}
